/* ======ADDING BACKGROUND COLOR and colors to this html file.=== */

header{

	background-image: url("test.jpeg");
	height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
	background: rgba (0,0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 20px;
}
ul{
	
	list-style-type: none;

margin: 0;
padding: 0;
overflow: hidden;
background-color: #2691d9;



}

li{
	
	float: left;

}


li a{
	display: #2691d9;
	color: whitesmoke;
	text-align: center;
	padding: 0.7rem 0.7rem;
	text-decoration: none;
}
li a:hover{
	background-color: skyblue;
	
}
footer{
	background-color: #2691d9;
	color: whitesmoke;
	text-align: center;
	padding: 0.7rem 0.7rem;
	text-decoration: none;
}
html{
	background: white;
}

p{
	color: whitesmoke;
}
.subnav .subnavbtn {
	display: #2691d9;
	text-align: center;
	padding: 0.7rem 0.7rem;
	text-decoration: none;
    font-size: 16px; 
    border: none;
    outline: none;
 Color: whitesmoke;
   /* padding: 14px 16px;*/
   /* background-color: inherit;*/
    font-family: inherit;
    margin: 0;
  }

   /* The subnavigation menu */
   .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color:#2691d9;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:white;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: rgb(36, 169, 187);
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: white;
    color:rgb(112, 99, 233);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display:block;
	
  }
  .search-box{
    border: 1px  solid white;
border-radius: 50px;
background: white;
width: max-content;
display: inline-block;
margin: 8px;


}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8;
    border: 1px solid #5b8cd5;

}
.search-input{
    width: 150px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 5px  0 0 10px;
    
}

i{
    font-size: 20px;
    margin: 10 10px 0 0;
}
button{
    
    background: transparent;
    border: none;
    outline: none;

}