html body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.main-container {
    max-width: 1180px;
    width: 1180px;
    display: flex;
    margin: auto;
    flex-flow: row;
    background-color: #f2f2f2;
}

.menu-container {
    margin-top: 2rem;
    display: flex;
    flex: 1;
    flex-flow: column;
}

.products-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
    flex: 4;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3076df;
    color: white;
}

/* nav bar */
/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color:#477cdd;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #5b8cd5;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #5b8cd5;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  
