html body {
    margin: 0;
    padding: 0;
    display: flex;
}

.seafood-container {
    display: flex;
    width: 100vw;
    height: auto;
}

.main-container {
    max-width: 1180px;
    width: 1180px;
    display: flex;
    margin: auto;
    flex-flow: row;
}

.menu-container {
    margin-top: 2rem;

    display: flex;
    flex: 1;
    flex-flow: column;
}

.products-container {
    margin-top: 2rem;

    display: flex;
    flex-flow: row wrap;
    flex: 4;
}

.product {
    border-top: 1px solid rgb(37, 37,37);
    border-bottom: 1px solid rgb(37, 37,37);
    width: 240px;
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.product-img {
    margin: 20px 0 5px 20px;
    height: 200px;
    width: 200px;
}

.img-container {
    display: flex;
    flex: 2;
}

.product-info-container {
    display: flex;
    flex-flow: column;
    flex: 3;
    justify-content: start;
}

.product-des-container {
    height: 50px;
    width: 500px;
    overflow: hidden;
    transition: height .7s ease;
}

.product-des-container:hover {
    height: 200px;
}

.ingredients-container {
    height: 50px;
    width: 500px;
    overflow: hidden;
    transition: height .7s ease;
}

.ingredients-container:hover {
    height: 100px;
}