html body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.main-container {
    max-width: 300px;
    width: 300px;
    display: flex;
    margin: auto;
    flex-flow: column;
}

.column-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.input-container {

    display: flex;
    justify-content: center;
       border-radius: 25px 25px  25px  25px;
}


input {

    width: 300px;
    height: 30px;
    margin-top: 1rem;
    border-radius: 15px 15px  15px  15px;
}

button {

    width: 270px;
    height: 40px;
    margin-top: 1rem;
    background-color: rgb(32, 92, 202);
    color: whitesmoke;
    border-radius: 25px 25px  25px  25px;
    text-decoration: none;
}
/* .a-menu{
    text-decoration: none;
    color: white;
    
    width: 240px;
    height: 30px;
    } */