*{
  margin: 0;
  padding: 0;
}
/* new */
html,body{
  background-image: url("/img/bananaLog.png") ; 
  height: 100%;
}

#content2{
min-height: 100%;
}
/* #sami{
 overflow: auto; 
 padding-bottom: 100px; 
} */


/* header{
  font-size: small;
   margin-top:110px;

  background-size:contain;
  border-radius: 25px;
}  */
.footer {
  margin-top: -50px;
  background-color: #2184c2;
  color: whitesmoke;
  text-align: center;
  flex-shrink: 0;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width:23%;
  padding: 10px;
  text-align:left;
}

/* Clear floats after the columns */
.row:after {
    
  content: "";
  display: table;
  clear: both;
}
/* h1{
background: rgba (0,0, 0, 0.5);
  text-align: center;
  color: whitesmoke;
  padding: 50px;
  font-variant: small-caps;
  font-size: 50px;
  font-family: fantasy;
  letter-spacing: 15px;
} */
a:link {
  text-decoration: none;
}
 h3{
    
   color: azure;
 }
 #end{
  text-align:left ;
  color: #fff;
}
#sticky{
  z-index: 3;
  position:fixed;
  top:0;
  width: 100%;

}
.menu{
  background: #477cdd;
  text-align: center;
}
.menu-ul{
 
  margin: 0;
  padding: 0;
  display:inline;
}
.menu-ul li{
   float: left;
  padding: 25px 25px 0px 25px;
  display: inline-block;
  list-style: none;
  font-size: 17px;
  
}
.a-menu{
text-decoration: none;
color: white;
}
.menu-ul li:hover{
  background: none;
  transform: scale(1.2);

}

/* .search-box{
  border: 1px  solid white;
border-radius: 50px;
background: white;
width: max-content;
display: inline-block;
margin: 8px;
}
.search-box:hover{
  box-shadow: white;
  border: 1px solid #5b8cd5;

}
.search-input{
  width: 250px;
  border: none;
  font-size: 16px;
  outline: none;
  background: transparent;
  margin: 15px  0 0 10px;
  
} */

i{
  font-size: 20px;
  margin: 0 10px 0 0;
}
button{
  
  background: none;
  border: none;
  outline: none;

}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 0;
  background-color: none;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:none;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:white;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: rgb(36, 169, 187);
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: white;
  color:rgb(36, 169, 187);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display:grid;

}


    /* <======delete me later===========log in============================ --> */
    .content {
      flex: 1 0 auto;
    }
    .center{
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -55%);
      width: 340px;
      background-Color:rgba(255,255,255,0.5);
      border-radius: 30px;
      box-shadow: 90px 40px 15px rgba(96, 111, 124, 0.05);
    }
    .center h1{
    
      color: #2184c2;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid silver;
    }
    .center form{
      text-align: center;
      padding: 30px 40px;
      box-sizing: border-box;
    }
    form .txt_field{
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
    }
    .txt_field input{
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
    }
    .txt_field label{
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 23px;
      pointer-events: none;
      transition: .3s;
    }
    .txt_field span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #2184c2;
      transition: .3s;
    }
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
      top: -5px;
      color: #2e8acc;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
      width: 100%;
    }
    .pass{
      margin: -6px 0 50px 5px;
      color: #a6a6a6;
      cursor: pointer;
    }
    .pass:hover{
      text-decoration: underline;
    }
    input[type="button"]{
      text-align: center;
      width:80%;
      height: 50px;
      border: 1px solid;
      background: #2691d9;
      border-radius: 25px;
      font-size: 24px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none;
    }
    input[type="button"]:hover{
      border-color: #2691d9;
      transition: .3s;
    }
    .signup_link{
      margin: 30px 0;
      text-align: center;
      font-size: 19px;
      color: #2691d9;
    }
    .signup_link a{
      color: #2691d9;
      text-decoration: none;
    }
    .signup_link a:hover{
      text-decoration: underline;
    }
    /* <======delete me later===========log in============================ --> */
    /* .video{
 
  pointer-events: none;
 position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; 
  } */
      /* object-fit: cover; */
      /* margin-top: 30px; */
      /* margin-bottom: -100px; */
      /* height: 90%; */
   
    