body{
    margin: 0;
    font-family: system-ui;
}
.parallax{ 
    background-image: url("img/test.jpeg");
    /* <img src="Schedule.png" height="50%" width="50%"> */
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
}
header{

	background-image: url("img/Snacks.jpg");
	height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
	background: rgba (0,0, 0, 0.5);
    text-align: center;
    color: rgb(15, 84, 187);
    padding: 50px;
    font-variant: small-caps;
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 20px;
}

.page-title{
    background: rgba (0,0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 20px;
}
#sticky{
    position:fixed;
    top:0;
    width: 100%;

}
.menu{
    background: #477cdd;
    text-align: center;
}
.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
}
.menu-ul li{
    font-size: 17px;
    padding: 25px 25px 0px 25px;
    display: inline-block;
    list-style: none;
    font-size: 17px;
    
}
.a-menu{
text-decoration: none;
color: white;
}
.menu-ul li:hover{
    background: rgba(47, 74, 230, 0.333);
    transform: scale(1.1);

}

.search-box{
    border: 1px  solid white;
border-radius: 50px;
background: white;
width: max-content;
display: inline-block;
margin: 8px;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8;
    border: 1px solid #5b8cd5;

}
.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px  0 0 10px;
    
}

i{
    font-size: 20px;
    margin: 0 10px 0 0;
}
button{
    
    background: transparent;
    border: none;
    outline: none;

}
 /* The subnavigation menu */
 .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 0;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color:#2691d9;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:white;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: rgb(36, 169, 187);
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: white;
    color:rgb(112, 99, 233);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display:grid;
	
  }

  .container{
      margin: 50px 50px 50px 5%;
      width: 90%;
      text-align: center;
  }
  .catgegories{
      width: max-content;
      margin: 25px;
      border: 1px solid #184d47;
      border-radius: 0 0 50px 50px;
      display: inline-block;
  }
  .catgegories:hover{
      box-shadow: 0 0 10px 3px #477cdd;

  }
  .item-image{
      height: 30%;
      width: 30%;
      border-radius: 0 0 50px 50px;
      padding: 10px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #477cdd;
    color: white;
    text-align: center;
 }
 .footer li{
    font-size: 17px;
    padding: 10px 25px 0px 25px;
    display: inline-block;
    list-style: none;
    font-size: 17px;
    
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;
    width: 50%;
     /* display: block; */
    margin-bottom: 20px;
    /* float:inline-start; */
    width: 25%;
    padding: 0 10px;

    width: 25%;
    display:contents;
    margin-bottom: 20px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    text-decoration: none;
  }
  .b-menu{
    text-decoration: none;
    color: black;
    }
    .apple-image{
        height: 20%;
        width: 20%;
        /* border-radius: 0 0 50px 50px; */
        padding: 10px;
    }
    /* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.4; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 500px;
    left: 1000px;
    color: black;
    font-size: 50px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(11, 58, 90);
    font-size: 35px;
    cursor: pointer;
  }

/* ======footer========== */
#footer{
	background-color: #477cdd;
	color: whitesmoke;
    position:relative ;
    min-height: 100px;
    margin-top: -100px;
    clear: both;
	/* text-align: left; */
	
	text-decoration: none;
}

 a:link {
  text-decoration: none;
}
#end{
  color: #fff;
}

.column {
  text-align:left;
    float: left;
    width: 23%;
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}
.catgegories{
    width: max-content;
    margin: 25px;
    border: 2px solid #eff1f1;
    border-radius: 0 0 0 0;
    display:inline-block;
}
.catgegories:hover{
    box-shadow: 0 0 10px 3px #a2bae7;

}
.item-image{
    height: 170px;
    width: 170px;
    border-radius: 0 0 50px 50px;
    padding: 40px;
}  